.Home {
    margin: auto;
    width: 95%;
    background-color: white;
    padding: 0px 20px;
    border: 1px solid var(--border-color);

    form {
        h2 {
            align-items: center;
            padding: 20px 0;
        }

        main {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .inputField {
                position: relative;
                min-width: 150px;
                    width: 100%;
                    max-width: 250px;

                input {
                    width: 100%;
                    padding: 10px;
                    font-size: 14px;
                    color: var(--primary);
                    background-color: white;
                    outline: 1px solid var(--border-color);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s all ease-in;

                    &~span {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        padding: 10px;
                        font-size: 14px;
                        color: var(--primary);
                        transition: 0.3s all ease-in;
                        pointer-events: none;
                        user-select: none;
                    }

                    &:focus,
                    &:valid {
                        outline: 2px solid var(--primary);

                        &~span,
                        &~span {
                            padding: 2px 6px;
                            top: -12px;
                            font-size: 12px;
                            background-color: var(--primary);
                            color: white;
                        }
                    }
                }

            }

            select {
                min-width: 150px;
                    width: 100%;
                    max-width: 250px;
                padding: 10px;
                font-size: 14px;
                color: var(--primary);
                background-color: white;
                outline: 1px solid var(--border-color);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.2s all ease-in;

                &~span {
                    position: absolute;
                    top: 0;
                    left: 10px;
                    padding: 10px;
                    font-size: 14px;
                    color: var(--primary);
                    transition: 0.3s all ease-in;
                    pointer-events: none;
                    user-select: none;
                }

                &:focus,
                &:valid {
                    outline: 2px solid var(--primary);

                    &~span,
                    &~span {
                        padding: 2px 6px;
                        top: -12px;
                        font-size: 12px;
                        background-color: var(--primary);
                        color: white;
                    }
                }
            }
        }

        footer {
            column-gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            button {
                background-color: var(--primary);
                border: none;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                font-size: 18px;
                outline: none;
                padding: 10px 15px;
                transition: all .3s;

                &:hover {
                    box-shadow: 2px 2px 5px black;
                }

                &:focus-visible {
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
                }
            }
        }
    }

    header {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        button {
            white-space: nowrap;
            margin-right: auto;
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid var(--border-color);
            outline: none;
            cursor: pointer;
            font-size: 14px;
            color: var(--primary);
            background-color: white;
            transition: 0.2s all ease-in;
            background-color: var(--primary);
            color: white;

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
            }
        }

        .inputField {
            width: 100%;
            position: relative;

            input {
                width: 100%;
                padding: 10px;
                font-size: 14px;
                color: var(--primary);
                background-color: white;
                outline: 1px solid var(--border-color);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.2s all ease-in;

                &~span {
                    position: absolute;
                    top: 0;
                    left: 10px;
                    padding: 10px;
                    font-size: 14px;
                    color: var(--primary);
                    transition: 0.3s all ease-in;
                    pointer-events: none;
                    user-select: none;
                }

                &:focus,
                &:valid {
                    outline: 2px solid var(--primary);

                    &~span,
                    &~span {
                        padding: 2px 6px;
                        top: -12px;
                        font-size: 12px;
                        background-color: var(--primary);
                        color: white;
                    }
                }
            }

        }
    }

    .tableContainer {
        overflow: auto;

        .Cr {
                color: green;
            }
        
            .Dr {
                color: red;
            }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;

            td,
            th {
                text-align: left;
                padding: 6px;
                border: 1px solid var(--border-color);
            }

            thead {
                background-color: #bee5ec;

                th {
                    color: #0c314e;
                    font-size: 14px;
                    font-weight: normal;
                    white-space: nowrap;

                    &.sortButton {
                        cursor: pointer;
                    }
select {
    width: 100%;
    padding: 5px 8px;
}
                }
            }

            tbody {
                tr {
                    &:nth-child(even) {
                        background-color: #f0f0f0;
                    }

                                        &.pending {
                                            background-color: rgb(249, 80, 80);
                                        }
                    td:nth-child(2) {
                        min-width: 100px;

                        a {
                            color: var(--primary);
                        }
                    }

                                        td.Cr {
                                            color: green;
                                        }
                    
                                        td.Dr {
                                            color: red;
                                        }
                    td:nth-child(6),
                    td:nth-child(7) {
                        font-size: 12px;
                        white-space: nowrap;
                    }

                    td:last-child {
                        padding: 3px 6px;
                        white-space: nowrap;

                        button {
                            padding: 4px 6px;
                            font-size: 12px;
                            background-color: var(--primary);
                            border: none;
                            border-radius: 5px;
                            outline: none;
                            color: white;
                            cursor: pointer;
                            margin-left: 6px;

                            a {
                                color: white;
                                text-decoration: none;
                            }

                            &:focus-visible {
                                box-shadow: 0 0 0 3px rgba(13, 110, 253, .25);
                            }
                        }
                    }
                }
            }


        }
    }

    .scrollbar {

        /* width */
        &::-webkit-scrollbar {
            width: 50px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border: 1px solid var(--border-color);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--primary);
        }
    }
}

@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@media (width < 400px) {
    main.table-main {
        margin: 10px;
        padding: 10px;
    }
}