nav#topNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 7px;
    padding: 0 3%;
    position: relative;
    /* background-color: #1d5c88; */
    height: 70px;


    img {
        height: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid white;
        object-fit: cover;
        margin-left: auto;
    }
}

nav#topNav .profile {
    background-color: #f1faff;
    border: 4px solid #1a93e8;
    border-radius: 20px;
    max-width: 400px;
    padding: 20px;
    position: absolute;
    right: 2%;
    top: 100%;
    width: 96%;
    z-index: 99;
    box-shadow: 2px 2px 12px black;

    p {
        margin-bottom: 25px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }

    .imgContainer {
        position: relative;

        img.btn {
            border: 3px solid #03a9f4;
            cursor: auto;
            display: block;
            height: 100px;
            margin: auto;
        }

        label {
            background-color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 2px 2px 4px gray;
            color: #4169e1;
            cursor: pointer;
            font-size: 15px;
            outline: none;
            padding: 3px;
            position: absolute;
            right: calc(50% - 50px);
            top: 70px;
        }

        h2 {
            margin-top: 20px;
            text-align: center;
            text-transform: capitalize;
        }

        a {
            background-color: initial;
            border: 1px solid #474747;
            border-radius: 20px;
            color: #4169e1;
            display: block;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            width: 90%;
        }

        footer {
            padding: 10px 20px;

            button {
                background-color: #5c82f5;
                border: none;
                border-radius: 30px;
                box-shadow: 3px 3px 5px gray;
                color: #fff;
                cursor: pointer;
                font-size: 20px;
                outline: none;
                padding: 16px;
                transition: all .2s;
                width: 100%;
            }
        }
    }
}