body:has(.signupContainer) {
    background-color: #4169e1;
    font-family: Arial, Helvetica, sans-serif;
}

.signupContainer {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000;
    margin: 100px auto;
    max-width: 400px;
    padding: 30px;
    width: 90%;

    h1 {
        text-align: center;
    }

    main {
        padding: 0 0 20px;

        .inputField {
            margin-top: 25px;
            position: relative;

            input {
                border: 1px solid #4169e1;
                border-radius: 5px;
                color: #4169e1;
                font-size: 17px;
                outline: none;
                padding: 10px;
                width: 100%;

                &:focus {
                    box-shadow: 0 0 7px #4169e1;
                }

                &:focus~span,
                &:valid~span {
                    background-color: #4169e1;
                    color: #fff;
                    font-size: 14px;
                    padding: 2px 6px;
                    -webkit-transform: translate(8px, -13px);
                    transform: translate(8px, -13px);
                }
            }

            p {
                color: red;
                display: none;
                margin-top: 8px;
            }

            span {
                color: #4169e1;
                font-size: 17px;
                left: 0;
                padding: 10px;
                pointer-events: none;
                position: absolute;
                top: 0;
                transition: all .3s;
                -webkit-user-select: none;
                user-select: none;
            }
        }

        .passwordChecker {
            display: grid;
            font-size: 13px;
            grid-template-columns: 1fr 1fr;
            margin-top: 14px;

            p {
                margin-bottom: 6px;

                &:before {
                    aspect-ratio: 1;
                    background-color: #0abe0a;
                    border-radius: 50%;
                    content: "";
                    display: inline-block;
                    margin-right: 6px;
                    width: 10px;
                }

                &.validate {
                    color: gray;

                    &:before {
                        background-color: #c8c8c8;
                    }
                }
            }
        }
    }

    footer {
        button {
            background: linear-gradient(90deg, #0140ff, #f8bfbf);
            border: 1px solid #4169e1;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #5f5f5f;
            color: #fff;
            cursor: pointer;
            font-size: 19px;
            margin-bottom: 25px;
            outline: none;
            padding: 10px;
            transition: all .3s;
            width: 100%;

            &:active {
                box-shadow: inset 2px 2px 6px #525252;
            }

            &:focus-visible {
                outline: 3px solid #03a9f4;
                outline-offset: 1px;
            }
        }

        p {
            text-align: center;

            a {
                color: #4169e1;
                outline: none;
                text-decoration: none;
            }
        }
    }
}